<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Trambar</title>
</head>
<body>
    <div class="top-nav">
        <div class="bar">
            Nav bar
        </div>
    </div>
    <div class="page">
        <header>
            <div class="graphics">
                <img class="logo" src="<%= require('img/logo.svg') %>">
            </div>
            <div class="text">
                <h1>Trambar</h1>
                <h3>est. 2018</h3>
            </div>
        </header>

        <h2>What is Trambar?</h2>
        <section>
            <div class="text">
            <p>
                Trambar is a companion tool for GitLab. It lets you maintain a
                Facebook-like newsfeed chronicling your development effort.
                Stories are automatically extracted from a repo's activity log.
                Users can also add their own stories, adorned with photos and
                videos.
            </p>
            <p>
                Trambar is meant to be a low-stakes, informal environment, a
                place when programmers and non-programmers alike can feel at
                home.
            </p>
            <p>
                The backend of Trambar is an
                <a href="https://github.com/chung-leong/trambar/blob/master/docs/getting-started.md" target="_blank">easy to deploy</a>
                Docker app. The frontend runs on all modern browsers.
                It's also available as an app on
                <a href="https://play.google.com/store/apps/details?id=io.trambar.mobile" target="_blank">Android</a>,
                <a href="https://itunes.apple.com/us/app/trambar/id1400086001?ls=1&mt=8" target="_blank">iOS</a>,
                and
                <a href="https://www.microsoft.com/en-us/p/trambar/9p887v1x7nkm" target="_blank">Windows Mobile</a>.
            </p>
            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/trambar-gitlab-cloud.jpg') %>">
            </div>
        </section>

        <h2>Marginally useful information</h2>
        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/threshold.jpg') %>">
            </div>
            <div class="text">
                <p>
                    Getting people to look at what they would otherwise
                    overlook--that's Trambar's main purpose. IT workers are
                    typically goal-oriented. They pay attention to information
                    that helps them achieve their goals and ignore information
                    that doesn't.
                </p>
                <p>
                    Not useful is not the same as useless though. Information
                    that fails to meet people's attention threshold often has
                    some value. Cumulatively, it can add up to quite a bit.
                </p>
                <p>
                    Git activity logs fall into this category. Knowledge
                    that a push occurred is rarely useful to programmers, let
                    alone those who don't code. It does indicate, however, that
                    progress is being made. Seeing a steady stream of pushes
                    can be reassuring, especially for team members who're not
                    programmers. After all, their livelihoods too are tied to
                    the code. Not knowing how this "thing" is evolving would
                    otherwise leads to endless anxiety.
                </p>
            </div>
        </section>

        <h2>Information of uncertain value</h2>
        <section>
            <div class="text">
                <p>
                    Unlike automation tools, people have a sense of shame.
                    They won't continually create materials that inevitably get
                    ignored. They will try to send only useful information to
                    their colleagues.
                </p>
                <p>
                    Doing so is easy when the information was first requested.
                    When information is unsolicited, judging its value becomes
                    hard. The sender is unsure of the recipient's wants and needs.
                </p>
                <p>
                    For example, someone makes a suggestion on a software feature.
                    If the idea ends up in the final product, the information
                    has a positive value. If the suggestion is ignored, its
                    value is zero. If it involves substantial changes and causes
                    an overworked programmer to blow a gasket, its value is negative.
                </p>
                <p>
                    Trambar's low-stakes nature makes it a good place for
                    this sort of information.
                </p>
            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/uncertainty.jpg') %>">
            </div>
        </section>

        <h2>Relocating distractions</h2>
        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/relocation.jpg') %>">
            </div>
            <div class="text">
                <p>
                    Issue tracker is a high-stakes system, central to a
                    project's workflow. Quality of information there ought to
                    be high. When it's filled with unripened ideas and vague
                    observations of software misbehavior, its usefulness is
                    degraded.
                </p>
                <p>
                    Likewise, instant messenger is high-stakes, due to the
                    implicit demand for immediate response. When its channels
                    are filled with information that isn't actually time
                    critical, people will start to ignore it. The tool then no
                    longer fulfills its purpose.
                </p>
                <p>
                    Trambar can compliment these frontline systems by hoovering
                    up all the low-value information.
                </p>
            </div>
        </section>

        <h2>Chicken or the egg conundrum</h2>
        <section>
            <div class="text">
                <p>
                    Attempts to segregate information by priority often run into
                    the chicken or the egg conundrum. People don't post things
                    because they're convinced no one would look at them.
                    Meanwhile, people don't visit the site because no one is
                    posting there.
                </p>
            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/chicken-egg.jpg') %>">
            </div>
        </section>

        <h2>Timing is everything</h2>
        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/timing.jpg') %>">
            </div>
            <div class="text">
                <p>
                    When people are working, they don't want to be distracted.
                    That's especially true for programmers, whose work demand
                    deep concentration.
                </p>
                <p>
                    When people are bored, on the other hand, they want to be
                    distracted. Starving for mental stimulation, they're
                    perfectly willing to spend time looking at what their
                    friends had for lunches.
                </p>
            </div>
        </section>

        <h2>Envoking the right mood</h2>
        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/dull-boy.jpg') %>">
            </div>
        </section>

        <h2>Mobile considerations</h2>
        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/mobile.jpg') %>">
            </div>
            <div class="text">
                <p>
                    Trambar is meant to be used when people are bored. This
                    usually happens when they're not in front of their computers.
                    The mobile phone is therefore a very key platform.
                </p>
                <p>
                    Losses of mobile devices are unavoidable. This assumption
                    is built into Trambar's design. Trambar does not import data
                    from GitLab that could lead to security breaches. Commit
                    messages are omitted and no code ever appears. The mobile
                    app also does not permit signing in using GitLab credentials.
                </p>
                <p>
                    Omission of sensitive materials means Trambar sessions can
                    be long living. That allows people to check the newsfeed
                    quickly and frequently, without the hassle of entering a
                    password. Trambar is designed to work in windows of time
                    less than 30 seconds.
                </p>
            </div>
        </section>

        <h2>Mixing work with pleasure</h2>
        <section>
            <div class="text">
                <p>
                    The Trambar newsfeed is designed to accommodate
                    non-work-related materials. In fact, it depends on their
                    presence since they provide the necessary attraction.
                </p>
                <p>
                    One can think of git events on Trambar as ads on Facebook.
                    People aren't keen to look at them. If a newsfeed has
                    nothing but ads, people would avoid it like the plague. When
                    ads are interspersed among user-generated contents, people
                    will spare them half a second or two. An instant versus never
                    makes a world of difference.
                </p>
            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/news-feed.jpg') %>">
            </div>
        </section>

        <h2>Expanding the social circle</h2>
        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/circle.jpg') %>">
            </div>
            <div class="text">
                <p>
                    Software development usually involves many people who are
                    not programmers. Testers, tech writers, and managers are
                    some of the more common roles. Trambar helps you keep these
                    other stakeholders in the loop.
                </p>
                <p>
                    While their jobs might not be code-related, <em>whether</em>
                    they will have their jobs in the future does depend very much
                    on the code. It's entirely natural that they want to see
                    evidence the project is on track. The Trambar newsfeed lets
                    you provide this necessary reassurance at a very low cost.
                 </p>
                 <p>
                     Trambar is especially useful when team members are
                     separated geographically, a situation where trust tends
                     to lacking and a poisonous them-verus-us mentality can
                     easily develop.
                 </p>
            </div>
        </section>

        <h2>Creating sense out of diff's</h2>
        <section>
            <div class="text">
                <p>
                    Trambar features a simple, flexible
                    <a href="https://github.com/chung-leong/trambar/blob/master/docs/decoration.md" target="_blank">source-tree decoration system</a>.
                    Component descriptions, written from end-user prespective,
                    are mapped to source files using <em>.gitignore</em> rules.
                    When a push or merge occurs, users will see a list of
                    components affected. This is more intuitive and less
                    intimidating to non-programmers than a file diff plus commit
                    messages.
                </p>
                <p>
                    These descriptions can also serve as a roadmap for onboarding
                    programmers.
                </p>
                <p>
                    Example: <a href="https://trambar.io/deco-demo/" target="_blank">Source decoration of the Trambar client</a>
                </p>
                <p>
                    Descriptions can come in multiple languages to accommodate
                    situations when certain stakeholders speak a different
                    language.
                </p>
            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/translation.jpg') %>">
            </div>
        </section>

        <h2>Gateway to issue tracker</h2>
        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/gateway.jpg') %>">
            </div>
            <div class="text">
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
            </div>
        </section>
    </div>
</body>
</html>
