<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Trambar</title>
</head>
<body>
    <div class="top-nav">
        <div class="bar">
            Nav bar
        </div>
    </div>
    <div class="page">
        <header>
            <div class="graphics">
                <img class="logo" src="<%= require('img/logo.svg') %>">
            </div>
            <div class="text">
                <h1>Trambar</h1>
                <h3>est. 2018</h3>
            </div>
        </header>

        <h2>What is Trambar?</h2>

        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/trambar-gitlab-cloud.jpg') %>">
            </div>
        </section>

        <h2>Marginally useful information</h2>

        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/threshold.jpg') %>">
            </div>
            <div class="text">

            </div>
        </section>

        <h2>Information of uncertain value</h2>

        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/uncertainty.jpg') %>">
            </div>
        </section>

        <h2>Relocating distractions</h2>

        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/relocation.jpg') %>">
            </div>
            <div class="text">

            </div>
        </section>

        <h2>Chicken or the egg conundrum</h2>

        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/chicken-egg.jpg') %>">
            </div>
        </section>

        <h2>Timing is everything</h2>

        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/timing.jpg') %>">
            </div>
            <div class="text">

            </div>
        </section>

        <h2>Envoking the right mood</h2>

        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/dull-boy.jpg') %>">
            </div>
        </section>

        <h2>Mobile considerations</h2>

        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/mobile.jpg') %>">
            </div>
            <div class="text">

            </div>
        </section>

        <h2>Mixing work with pleasure</h2>

        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/news-feed.jpg') %>">
            </div>
        </section>

        <h2>Expanding the social circle</h2>

        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/circle.jpg') %>">
            </div>
            <div class="text">

            </div>
        </section>

        <h2>Translating diff's</h2>

        <section>
            <div class="text">

            </div>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/translation.jpg') %>">
            </div>
        </section>

        <h2>Gateway to issue tracker</h2>

        <section>
            <div class="graphics">
                <img class="sketch" src="<%= require('img/gateway.jpg') %>">
            </div>
            <div class="text">

            </div>
        </section>
    </div>
</body>
</html>
