* {
    box-sizing: border-box;
}

BODY {
    font-family: monospace;
    font-size: 1.25em;
    background-color: #eee;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-overflow-scrolling: touch;
}

.top-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bar {
        display: flex;
        flex-direction: row;
        padding: 2px 2px 2px 2px;
        max-width: 60em;
        width: 100%;
        background-color: #111;
        color: #eee;

        .button {
            flex: 1 1 auto;
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 1.1em;
            padding: 4px 5px 3px 5px;
            border: 2px solid transparent;

            &:link, &:visited {
                color: #eee;
                text-decoration: none;

                &:hover {
                    border-color: #eee;
                }
            }
        }

        &.desktop {
        }

        &.mobile {
            display: none;
        }
    }
}

.page {
    max-width: 60em;
    padding-top: 2.5em;
    width: 100%;

    HEADER, SECTION, FOOTER {
        display: flex;
        flex-direction: row;

        .graphics {
            flex: 0 0 auto;
            padding: 1em 1em 1em 1em;
        }

        .text {
            flex: 1 1 auto;
            padding: 0 1em 0 1em;
            line-height: 135%;
        }
    }

    HEADER {
        .graphics {
            padding-bottom: 0;

            .logo {
                margin-left: 12em;
                margin-right: 2em;
            }
        }

        .text {
            padding-top: 2em;
            text-align: center;
        }
    }

    SECTION {
        &:nth-of-type(odd) {
            flex-direction: row-reverse;
        }

        .sketch {
            width: 400px;
            height: 400px;
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
        }
    }

    H2 {
        background-color: #111;
        color: #eee;
        font-size: 1.25em;
        text-align: center;
        padding: 0.25em 0.5em 0.20em 0.5em;
        margin-top: 0.5em;
    }

    A {
        &:link, &:visited {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:link {
            color: #000099;
        }

        &:visited {
            color: #330099;
        }
    }
}

@media only screen and (max-width: 700px) {
    BODY {
        font-size: 1em;
    }

    .top-nav {
        .bar {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
            }
        }
    }

    .page {
        max-width: 60em;
        padding-top: 5.5em;
        width: 100%;

        HEADER, SECTION, FOOTER {
            display: flex;
            flex-direction: column;

            .graphics {
                padding-top: 0;
                padding-bottom: 0;
            }

            .text {
                padding: 0 1em 0 1em;
                line-height: 135%;
            }
        }

        HEADER {

            .graphics {
                text-align: center;

                .logo {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .text {
                padding-top: 0;
            }
        }

        SECTION {
            &:nth-of-type(odd) {
                flex-direction: column;
            }

            .sketch {
                width: 100%;
                height: auto;
                box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
            }
        }

        H2 {
            text-align: left;
            padding: 0.25em 0.5em 0.20em 0.5em;
            margin-top: 0.5em;
        }
    }
}

@media print {
    BODY {
        background-color: none;
        font-size: 1em;
    }

    .top-nav {
        display: none;
    }

    .page {
        padding-top: 0;

        H2 {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            color: #000;
            background-color: none;
        }

        .sketch {
            max-width: 35vw;
            height: auto;
            box-shadow: none;
        }
    }
}
